<a href="https://colab.research.google.com/github/ricecakeblack/myRepoTest/blob/main/04_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#for 문에서 자주 사용하는 함수
# range
# enumerate
# zip

In [ ]:
list(range(100))

In [ ]:
print(list(range(100)))

### range: 정수의 리스트를 생성하는 함수

In [ ]:
# 0부터 9까지 있는 리스트 데이터를 만들어주세요
list(range(10))

In [ ]:
# 5부터 시작하는 10까지
list(range(5,10)) # start,end

In [ ]:
list(range(1,10,2)) #start, end, stide)

In [ ]:
# 0부터 99까지 숫자를 모두 더해주세요.
list = list(range(0,100))
for i range:
    list = i+list
    print(list)

In [ ]:
# 0부터 99까지 숫자를 모두 더해주세요.
result - 0
for data in range(100):
    result = result + data
    result += data #할당연산자

print(result)

## enumertate() 함수
- 순서가 있는 데이터 (Iterable)를 입력으로 받습니다.
    - list, tuple, dictionary
- 각 요소의 인덱스와 값을 함께 반환

In [ ]:
ls = ['first', 'second', 'third']
#for idx, data
for idx, data in enumerate(ls):
    print(idx, data)

## 2중 for 문

In [ ]:
# 구구단

for i in range(2,10):
    for j in range(1,10):
        print(f'{i}*{j}={i*j}')
    print()

## _변수사용

In [ ]:
# 10번 출력

ls = range(11)

for data in range(10):
    print('python')

In [ ]:
ls = [1,2,3,[4]]

In [ ]:
print(ls[2])

In [ ]:
print(ls[3][0])

In [ ]:
matrix = [[1,2,3],
        [4,5,6,],
        [7,8,9]]
matrix

In [ ]:
# 리스트 벗겨내기
for row in matrix:
    for element in row:
      print(element, end='')
    print()

In [ ]:
### list comprehension

In [ ]:
ls = [1, 3, 6, 9]

In [ ]:
result = []
for i in ls:
    result.append (i ** 2)

In [ ]:
result = [i **2 for i in ls]
result

In [ ]:
words = ['apple', 'bamama', 'orange', 'grape', 'kiwi']

In [ ]:
#문자열 길이가 5 이상인 값만 선택후 result =[] 저장
result = []
for word in words :
    if len(word) > 5:
        result.append(word)
result

In [ ]:
result = [word for word in words if len(word) > 5]
result

In [ ]:
#list comprehension quiz time!
datas = ['kim test', 'cho python','park data', 'Kim jupyter', 'jung notebook', 'KIM vscode']

In [ ]:
#1. kim씨 성을 가진 사람을 제외한 나머지 사람의 이름만 리스트로 춮력
#['python' , ' data', 'notebook']
no_kims = []
for data in datas:
    print(data)
    if data.split(' ')[0].lower() != 'kim' :
        no_kims.append(data.split(' ')[1])
no_kims

In [ ]:
no_kims = []
no_kims = [data for data in datas if data.split(' ')[0].lower() != 'kim']
no_kims

In [ ]:
sample = '나는 지금 집에 가고 싶다.'
sample.split(' ')
# 리스트로 변환
sample.split(' ')[2]

In [ ]:
# kim씨 성을 가진 사람을 제외하고 나머지 사람 출력
# 단 조씨성을 가진 사람만 성을 제외한 나머지 이름만 출력
# ['python', 'min data', 'jung notebook']
no_kims = []

for data in datas:
    if data.split('')[0].lower() != 'kim':
        no.kims.append(data.split(' ')[1] if data.split('')[0] == 'cho' else data)

no_kims

In [ ]:
no_kims = [data.split('')[1]
           for data in datas
           if data.split('')[0].lower() != 'kim']
no_kims

## 2. 파라미터와 아규먼트(parameter, argument)
- parameter
    - 함수를 선언할때 함수에 입력받는 값을 지정한 변수
- argument
    - 함수를 호출할때 함수에 전달되는 변수
- parameter와 argument 갯수, 순서가 중요합니다.

In [ ]:
# 함수 선언:
# 숫자 두개를 입력받으면 그 두 숫자를 더한 값을 출력해주는 함수를 작성해주세요.

def sum(a,b):
    print(a+b)

In [ ]:
# 함수 호출
sum(10,20) #아규먼트

# 갯수, 순서에 대한 설정
- default parameter

In [ ]:
def sum_up(a, b=10): # b = default parameter
    print(a+b)

sum_up(10)

In [ ]:
sum_up(20, 40) # 지정하고 두 개 넣으면 고정된 숫자가 변화함

## 특정값만 지정해서 변경

- keyword argument

In [ ]:
def my_calc(num1, num2 = 10, num3 =20):
    print(num1+num2 - num3)
# 숫자 3개를 입력 받습니다.
# 뒤에 숫자 2개는 각각 10과 20을 기본 설정해주세요.
# 출력은 맨 앞 숫자 두 번째 숫자를 더하고 마지막 숫자를 뺀 결과

In [ ]:
my_calc(1,2)

In [ ]:
my_calc(3,10,100)

In [ ]:
my_calc(3)

In [ ]:
my_calc(3, num3 = 200) #keyword argument

In [ ]:
my_calc( num3=200, 5)
# 순서가 중요함

In [ ]:
my_calc(num3=200, num1= 10)

In [ ]:
my_calc(15) + 5

In [ ]:
## 3. 리턴(return)
- 함수의 실행결과를 저장하고자 할 때 사용하는 예약어
- 함수 내부에서 사용

In [ ]:
def add_no_return(num1, num2):
    print(num1 + num 2)

In [ ]:
result = add_no_return(1,2)

In [ ]:
print(result)

In [ ]:
result + 3

In [ ]:
def add_yes_return(num1, num2):
    return num1 + num2

In [ ]:
result = add_yes_return(1,2)
result + 3

In [ ]:
# 다중 리턴
def get_name_and_age():
    name "ACE"
    age = 18
    return name, age

In [ ]:
# 함수 호출
name, age = get_name_and_age()
print(name, age)

In [ ]:
# return의 다른 용도:
def save_checkpoint(msg):
    if msg == 'save':
        return
    print('continue~!')

In [ ]:
save_checkpoint('집에 가고싶다')

In [ ]:
save_checkpoint('save')

In [ ]:
%reset

In [ ]:
help(sum)

In [ ]:
sum([1,2,3], start = 10)

In [ ]:
# value라는 변수를 입력받고, 입력받은 value변수를 print()하는 함수

In [ ]:
def my_print(value):
    print(value)

In [ ]:
my_print(1)

In [ ]:
my_print('text', 1)

In [ ]:
#변수를 몇 개(한개 이상)받고 싶을 때 쓰는 방법
def my_print(*args):
    print(*args)

my_print('text', 1, 2)

In [ ]:
my_print(1)
my_print(1,2)
my_print(1,2,3)

In [ ]:
# 몇개를 입력받든, 모두다 print()하는 함수, 입력 변수는 3개 이상 입력받게 해주세요.
def my_print_func(*args):
    for arg in args:
        print(arg)


my_print_func(1,2)

In [ ]:
data = [1,2,3,4,5,6,7]
print(data)
print(*data) #리스트를 언팩킹

In [ ]:
# keyword arguments 키와 벨류(딕셔너리 타이뱨
def my_print(**kwargs):
    print(kwargs)

In [ ]:
my_print(name = 'cho', age = 17)

In [ ]:
# args외 파라미터가 필요할 경우
# *args 앞 또는 키워드 파라미터 사용
def calc_avg(unit, *args):
    print(sum(args)/len(args), unit)

In [ ]:
calc_avg('cm', 11,22,33)

In [ ]:
calc_avg(11,22,33, 'cm')

In [ ]:
def calc_avg(*args, unit = 'cm')
    print(sum(args)/len(args),unit)

calc_avg(11,22,33, unit = 'inch')