<a href="https://colab.research.google.com/github/ricecakeblack/myRepoTest/blob/main/4_numpy_Sort_argsort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

## 1. 1차원 정렬

1차원 정렬은 매우 간단합니다.

In [ ]:
import numpy as np
arr = np.array([1, 10, 5, 8, 2, 4, 3, 6, 8, 7, 9])

In [ ]:
arr

array([ 1, 10,  5,  8,  2,  4,  3,  6,  8,  7,  9])

np.sort(arr)

In [ ]:
# 오름차순 정렬 #< ndarray가 아닌걸 ndarray 가능하게 해줌
np.sort(arr)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  8,  9, 10])

기본적으로 오름차순 정렬을 수행합니다.

In [ ]:
# 내림차순 정렬 -> [::-1]
np.sort(arr)[::-1]

array([10,  9,  8,  8,  7,  6,  5,  4,  3,  2,  1])

내림차순 정렬은 옵션에 -1 값을 주면됩니다.

하지만, 이 값들은 **유지가 되지 않습니다**!

값을 sort 된 상태로 저장하려면, 배열 자체에 sort를 해줄 수 있습니다.

In [ ]:
np.sort(arr)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  8,  9, 10])

In [ ]:
arr2 = np.sort(arr)

In [ ]:
arr

array([ 1, 10,  5,  8,  2,  4,  3,  6,  8,  7,  9])

In [ ]:
arr2

array([ 1,  2,  3,  4,  5,  6,  7,  8,  8,  9, 10])

In [ ]:
arr.sort()

In [ ]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  8,  9, 10])

## 2. N차원 정렬

In [ ]:
arr2d = np.array([[5, 6, 7, 8],
                  [4, 3, 2, 1],
                  [10, 9, 12, 11]])

In [ ]:
arr2d.shape

(3, 4)

In [ ]:
arr2d

array([[ 5,  6,  7,  8],
       [ 4,  3,  2,  1],
       [10,  9, 12, 11]])

### 2-1. 열 정렬 (왼쪽에서 오른쪽으로)

In [ ]:
arr2d

array([[ 5,  6,  7,  8],
       [ 4,  3,  2,  1],
       [10,  9, 12, 11]])

In [ ]:
import numpy as np
# 가로방향 같은 행 데이터 안에서 정렬
np.sort(arr2d, axis=1)

array([[ 5,  6,  7,  8],
       [ 1,  2,  3,  4],
       [ 9, 10, 11, 12]])

### 2-2. 행 정렬 (위에서 아래로)

In [ ]:
arr2d

array([[ 5,  6,  7,  8],
       [ 4,  3,  2,  1],
       [10,  9, 12, 11]])

In [ ]:
# 세로방향 열 데이터간의 정렬
np.sort(arr2d, axis=0)

array([[ 4,  3,  2,  1],
       [ 5,  6,  7,  8],
       [10,  9, 12, 11]])

## 3. index를 반환하는 argsort

정렬된 값을 반환하는 것이 아닌 index를 반환합니다.

In [ ]:
arr2d = np.array([[5, 6, 7, 8],
                  [4, 3, 2, 1],
                  [10, 9, 12, 11]])


### 3-1. 열 정렬 (왼쪽에서 오른쪽으로)

In [ ]:
# sort를 해야할 index의 순서를 리턴한다.
np.argsort(arr2d, axis=1)

array([[0, 1, 2, 3],
       [3, 2, 1, 0],
       [1, 0, 3, 2]])

### 3-2. 행 정렬

In [ ]:
arr2d

array([[ 5,  6,  7,  8],
       [ 4,  3,  2,  1],
       [10,  9, 12, 11]])

In [ ]:
np.sort(arr2d, axis=0)

array([[ 4,  3,  2,  1],
       [ 5,  6,  7,  8],
       [10,  9, 12, 11]])

In [ ]:
np.argsort(arr2d, axis=0)

array([[1, 1, 1, 1],
       [0, 0, 0, 0],
       [2, 2, 2, 2]])