<a href="https://colab.research.google.com/github/ricecakeblack/myRepoTest/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

1.5호선만 데이터를 선택하기
2. 5호선중에 승차+하차 인우너수 TOP5역을 순서대로 가져오기(컬럼추가) apply, lanmda 시리즈 함수 / sort_values(정렬)
3. matplotlib이나 seaborn으로 bar graph 그리기
4. 전체 역중에 Top5를 순서대로 가져와서 시각화
5, 승차 인원이 TOP5
6. 하차 인원이 TOP5

In [ ]:
import matplotlib.pyplot as plt

plt.rc('font', family='NanumBarunGothic')

In [ ]:
subPath = '/content/drive/MyDrive/구글클라우드/수업(코드)/Pandas/ds/CARD_SUBWAY_MONTH_202309.csv'

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
sub_df = pd.read_csv(subPath, index_col = False)

In [ ]:
sub_df.head()

In [ ]:
sub_df.info()

In [ ]:
sub_df.head()

In [ ]:
lineFive = sub_df[(sub_df['노선명'] == '5호선')]

In [ ]:
lineFive.head()

In [ ]:
lineFive.info()

In [ ]:
type(lineFive)

In [ ]:
# 5호선중에 승차+하차 인원 TOP5역을 순서대로 가져오기(컬럼추가) apply, lanmda 시리즈 함수 / sort_values(정렬)
lineFive['승하차총합'] = \
lineFive[['승차총승객수','하차총승객수']].apply(lamda series : series.sum(), axis=1)