<a href="https://colab.research.google.com/github/ricecakeblack/myRepoTest/blob/main/%EC%B4%88%EB%B3%B4%EC%9E%90%EB%A5%BC_%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC_300%EC%A0%9C_%ED%92%80%EC%9D%B4_(1_150%EB%B2%88).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##초보자를 위한 파이썬 300제 정답 및 여러가지 풀이
컨트롤/커맨드 + F 를 이용하여 다음의 범위(10 단위)를 검색하여 정답을 확인하세요. 검색 예: 1~10

#1~10

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Mary's cosmetics")

Mary's cosmetics

In [ ]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [ ]:
print('C:\Windows')

C:\Windows

In [ ]:
print("안녕하세요. \n만나서\t\t반갑습니다.")
#\t는 탭을 의미하고 \n'은 줄바꿈을 의미합니다.

안녕하세요.
만나서		반갑습니다.

In [ ]:
print("오늘은", "일요일")

오늘은 일요일

In [ ]:
print("naver;kakao;sk;samsung")
print("naver", "kakao", 'sk', 'samsung', sep=";")

naver;kakao;sk;samsung
naver;kakao;sk;samsung

In [ ]:
print("naver", "kakao", 'sk', 'samsung', sep="/")

naver/kakao/sk/samsung

In [ ]:
print("first", end=' ')
print("second")

first second

In [ ]:
print(5/3)

1.6666666666666667

#11~20

In [ ]:
samsung=5000
print(samsung*10)

50000

In [ ]:
시가총액 = 298000000000000
현재가 = 5000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
5000 <class 'int'>
15.79 <class 'float'>

In [ ]:
# s = "hello"
# t = "python"
# print(s,"!", t)

s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [ ]:
 2 + 2 * 3

8

In [ ]:
a = 128
print (type(a))

<class 'int'>

In [ ]:
a = "132"
print(type(a))

<class 'str'>

In [ ]:
num_str = "720"
int(num_str)

720

In [ ]:
num=100
str(num)

'100'

In [ ]:
float("15.79")

15.79

In [ ]:
year = "2020"
year = int(year)
print(year-3, year-2, year-1)

2017 2018 2019

In [ ]:
월별_금액 = 48584
무이자 = 36
총_금액 = 월별_금액 * 무이자
print(총_금액)

1749024

#21~30

In [ ]:
letters = 'python'
print(letters[0], letters[2])

p t

In [ ]:
license_plate = "24가 2210"
print(license_plate[4:])
print(license_plate[-4:])

2210
2210

In [ ]:
# string = "홀짝홀짝홀짝"
# print(string[0], string[2], string[4])

string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [ ]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [ ]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [ ]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", "")
print(phone_number1)

01011112222

In [ ]:
# url = "http://sharebook.kr"
# list_url = list(url)
# print(list_url[-2:])

url = "http://sharebook.kr"
print(type(url))
url_split = url.split('.')
print(url_split[-1])

print(url_split)
print(url_split[1])

<class 'str'>
kr
['http://sharebook', 'kr']
kr

In [ ]:
lang = 'python'
lang[0] = 'P'
print(lang)
#오류남! 문자열은 수정할 수 없기 떄문

TypeError: ignored

In [ ]:
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [ ]:
string = 'abcd'
string.replace('b', 'B')
print(string)

string = 'abcd'
string = string.replace('b', 'B')
print(string)

abcd
aBcd

#31~40

In [ ]:
a = '3'
b = '4'
print(a + b)

print(int(a) + int(b))

34
7

In [ ]:
print("Hi" * 3)

HiHiHi

In [ ]:
print("-"*80)

--------------------------------------------------------------------------------

In [ ]:
t1 = 'python'
t2 = 'java'
for i in range(3):
  print(t1, t2, end=' ')


t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java python java python java python java

In [ ]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" %(name1, age1))
print("이름: %s 나이: %d" %(name2, age2))
#print 포맷팅에서 %s는 문자열 데이터 타입의 값을 %d는 정수형 데이터 타입 값, %f는 소수형 데이터 타입의 출력을 의미합니다.

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [ ]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [ ]:
data = "   삼성전자    "
data2 = data.replace(" ", "")
print(data2)

삼성전자

In [ ]:
#이 방법도 있음
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

#41~50

In [ ]:
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [ ]:
ticker = "BTC_KRW"
ticker1 = ticker.lower()
print(ticker1)

btc_krw

In [ ]:
hi = "hello"
hi = hi.capitalize()
print(hi)

Hello

In [ ]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [ ]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [ ]:
a = "hello world"
a.split()

['hello', 'world']

In [ ]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [ ]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [ ]:
data = "039490     "
data.strip()

'039490'

In [ ]:
#or
data = "039490     "
data = data.rstrip()
print(data)

039490

#51~60

In [ ]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [ ]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove("럭키")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
#이 방법도 있음
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [ ]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [ ]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [ ]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [ ]:
nums = [1, 2, 3, 4, 5]
av = sum(nums) / len(nums)
print(av)

3.0

#61~70

In [ ]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [ ]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])
#or
print(interest[::2])

삼성전자 Naver
['삼성전자', 'Naver']

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]
print(sorted(data))

[1, 2, 3, 4, 5, 9, 10]

In [ ]:
#다음과 같이 해결할 수도 있음
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

#71~80

In [ ]:
my_variable = ()
print(type(my_variable))

<class 'tuple'>

In [ ]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

In [ ]:
#my_tuple = (1) 의 1은 int(정수)형이다.
my_tuple = (1, )
#따라서 다음과 같이 하나의 데이터가 저장될때는 쉼표를 입력해야 튜플로 인식된다.

In [ ]:
# t = (1, 2, 3)
# t[0] = 'a'
# #튜플은 원소의 값을 변경할 수 없다.

In [ ]:
t = 1, 2, 3, 4
type(t)

tuple

In [ ]:
t = ('a', 'b', 'c')
#튜플의 값은 변경할 수 없기 때문에 새롭게 t를 정의해주어야 한다.
t = ('A', 'b', 'c')

In [ ]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
print(data)

['삼성전자', 'LG전자', 'SK Hynix']

In [ ]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
print(data)

('삼성전자', 'LG전자', 'SK Hynix')

In [ ]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [ ]:
data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

#81~90

In [ ]:
#기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.

# a, b, *c = (0, 1, 2, 3, 4, 5)
# a
# 0

# b
# 1

# c
# [2, 3, 4, 5]

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, a, b= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [ ]:
temp = {}

In [ ]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [ ]:
ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print(ice["메로나"])

1000

In [ ]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice["메로나"] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del(ice["메로나"])
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#or
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice["메로나"]
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
# >> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
# >> icecream['누가바']

#91~100

In [ ]:
inventory = {"메로나": [300, 20],
             "비비빅": [400, 3],
             "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [ ]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][0], "원")

300 원

In [ ]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory["메로나"][1], "개")

20 개

In [ ]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
key = list(icecream.keys())
print(key)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
value = list(icecream.values())
print(value)

[1200, 1200, 1800, 1500, 1000]

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
value = list(icecream.values())
print(sum(value))

6700

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [ ]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [ ]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

#101~110

In [ ]:
#Boolean

In [ ]:
#False

In [ ]:
#True

In [ ]:
#True

In [ ]:
#True

In [ ]:
# print(3 => 4) : 지원하지 않은 연산자
print(3 >= 4)

False

In [ ]:
if 4 < 3:
    print("Hello World")
#조건을 만족하지 않기 때문에 코드 자체가 실행되지 않는다.

In [ ]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [ ]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [ ]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

#111~120

In [ ]:
user = input("입력:")
print(user * 2)

or
# hi = input()
# for i in range(2):
#   print(hi, end="")

입력:안녕하세요
안녕하세요안녕하세요

In [ ]:
user = input("숫자를 입력하세요: ")
print(int(user) + 10)

숫자를 입력하세요: 30
40

In [ ]:
user = input("숫자를 입력하세요: ")
if int(user)%2 == 0:
  print("짝수")
else : print("홀수")

숫자를 입력하세요: 30
짝수

In [ ]:
user = input("입력값: ")
if int(user)+20 > 255:
  print(255)
else : print(int(user)+20)

입력값: 240
255

In [ ]:
user = int(input("숫자를 입력하세요: ")) - 20
if user < 0:
  print(0)
elif user > 255:
  print(255)
else : print(user)

숫자를 입력하세요: 15
0

In [ ]:
user = input("시간 입력: ")
if user[-2:] == "00":
  print("정각 입니다.")
else: print("정각이 아닙니다")

#or
# user = input("시간 입력: ")
# if user[3:] == "00":
#   print("정각 입니다.")
# else: print("정각이 아닙니다")

시간 입력: 02:00
정각 입니다.

In [ ]:
fruit = ["사과", "포도", "홍시"]
user = input("입력: ")
if user in fruit:
  print("정답입니다.")
else: print("오답입니다.")

입력: 사과
정답입니다.

In [ ]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
user = input("입력: ")
if user in warn_investment_list:
  print("투자 경고 종목입니다")
else: print("투자 경고 종목이 아닙니다")

입력: Microsoft
투자 경고 종목입니다

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가 좋아하는 계절은: ")
if user in fruit:
  print("정답입니다.")
else: print("오답입니다.")

제가 좋아하는 계절은: 봄
정답입니다.

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("좋아하는 과일은? ")
if user in fruit.values():
  print("정답입니다.")
else: print("오답입니다.")

좋아하는 과일은? 한라봉
오답입니다.

#121~130

In [ ]:
user = input("입력: ")
if user.islower():
  print(user.upper())
else:
  print(user.lower())

입력: a
A

In [ ]:
score = int(input("score: "))
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

score: 81
grade is A

In [ ]:
환율 = {"달러": 1167,
        "엔": 1.096,
        "유로": 1268,
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력: 100 엔
109.60000000000001 원

In [ ]:
num1 = int(input("입력: "))
num2 = int(input("입력: "))
num3 = int(input("입력: "))
user = set([num1, num2, num3])
print(max(user))


# or
# num1 = input("input number1: ")
# num2 = input("input number2: ")
# num3 = input("input number3: ")
# num1 = int(num1)
# num2 = int(num2)
# num3 = int(num3)

# if num1 > num2 and num1 > num3:
#     print(num1)
# elif num2 > num1 and num2 > num3:
#     print(num2)
# else:
#     print(num3)

입력: 45
입력: 23425
입력: 131
23425

In [ ]:
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

휴대전화 번호 입력: 01078928789
당신은 알수없음 사용자입니다.

In [ ]:
number = input("입력: ")
num = number[2:3]
if num == "0" or num =="1" or num =="2":
    gu = "강북구"
elif num == "3" or num =="4" or num =="5":
    gu = "도봉구"
else:
    gu = "노원구"
print(f"{gu}")

# or
# 우편번호 = input("우편번호: ")
# 우편번호 = 우편번호[:3]
# if 우편번호 in ["010", "011", "012"]:
#     print("강북구")
# elif 우편번호 in ["014", "015", "016"]:
#     print("도봉구")
# else:
#     print("노원구")

입력: 01400
도봉구

In [ ]:
user = input("입력: ")
if user[-7:-6] == "1" or user[-7:-6] == "3":
  print("남자")
else:
  print("여자")

# or
# 주민번호 = input("주민등록번호: ")
# 주민번호 = 주민번호.split("-")[1]
# if 주민번호[0] == "1" or 주민번호[0] == "3":
#     print("남자")
# else:
#     print("여자")

입력: 821010-1635210
남자

In [ ]:
user = input("입력: ")
if int(user[-6:-4]) in range(0, 8):
  print("서울입니다.")
else:
  print("서울이 아닙니다.")

# or
# 주민번호 = input("주민등록번호: ")
# 뒷자리 = 주민번호.split("-")[1]
# if 0 <= int(뒷자리[1:3]) <= 8:
#     print("서울입니다.")
# else:
#     print("서울이 아닙니다.")

# or
# user = input("입력: ")
# if user[-6:-4] in ["00", "01", "02", "03", "04", "05", "06", "07", "08"]:
#   print("서울입니다.")
# else:
#   print("서울이 아닙니다.")

입력: 861010-1015210
서울입니다.

In [ ]:
user = input("입력: ")
num1 = int(user[0])*2 + int(user[1])*3 + int(user[2])*4 + int(user[3])*5 + int(user[4])*6 + int(user[5])*7 + int(user[7])*8 + int(user[8])*9 + int(user[9])*2 + int(user[10])*3 + int(user[11])*4 + int(user[12])*5
#이렇게하면 오류! num1 = int(user[0]*2) + int(user[1]*3) + int(user[2]*4) + int(user[3]*5) + int(user[4]*6) + int(user[5]*7) + int(user[7]*8) + int(user[8]*9) + int(user[9]*2) + int(user[10]*3) + int(user[11]*4) + int(user[12]*5)
num2 = 11 - (num1%11)
print(num2)

if num2 == int(user[13]) :
  print("유효한 주민등록번호입니다.")
else :
  print("유효하지 않은 주민등록번호입니다.")

입력: 821010-1635210
4
유효하지 않은 주민등록번호입니다.

In [ ]:
#map함수 설명
lst = ['1','2','3']
a = list(map(int, lst))
a

#예시
user = input("입력: ")
num = user.split("-")
num_int = list(map(int, num)) #map함수
num_int[]

[1, 2, 3]

In [ ]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

btc

{'acc_trade_value': '118271368769.8103',
 'acc_trade_value_24H': '382783495057.0542',
 'closing_price': '63230000',
 'date': '1620954994670',
 'fluctate_24H': '-461000',
 'fluctate_rate_24H': '-0.72',
 'max_price': '63500000',
 'min_price': '60510000',
 'opening_price': '63034000',
 'prev_closing_price': '63068000',
 'units_traded': '1901.39231253',
 'units_traded_24H': '6098.0398144'}

In [ ]:
변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if 시가 + 변동폭 > 최고가:
  print("상승장")
else :
  print("하락장")

상승장

#131~140

In [ ]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [ ]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [ ]:
for 변수 in ["A", "B", "C"]:
  print(변수)

# =
print("A")
print("B")
print("C")

A
B
C
A
B
C

In [ ]:
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

# =
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [ ]:
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

# =
print("변환:", "A".lower())
print("변환:", "B".lower())
print("변환:", "C".lower())

변환: a
변환: b
변환: c
변환: a
변환: b
변환: c

In [ ]:
for 변수 in range(10, 31, 10):
  print(변수)

#or
for 변수 in [10, 20, 30]:
  print(변수)

10
20
30
10
20
30

In [ ]:
for x in range (1,4):
  print(10*x)

# =
for 변수 in [10, 20, 30]:
  print(변수)

10
20
30
10
20
30

In [ ]:
for x in range (1,4):
  print(10*x)
  print("-------")

10
-------
20
-------
30
-------

In [ ]:
print("++++")
for x in range (1,4):
  print(10*x)

++++
10
20
30

In [ ]:
for x in range (1,5):
  print("-------")

-------
-------
-------
-------

#141~150

In [ ]:
리스트 = [100, 200, 300]
for x in 리스트:
  print(int(x) + 10)

110
210
310

In [ ]:
리스트 = ["김밥", "라면", "튀김"]
for x in 리스트:
  print("오늘의 메뉴:", x)

#or
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
  print("오늘의 메뉴: " + 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김
오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [ ]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for x in 리스트:
  print(len(x))

6
4
4

In [ ]:
리스트 = ['dog', 'cat', 'parrot']
for x in 리스트:
  print(x, len(x))

dog 3
cat 3
parrot 6

In [ ]:
리스트 = ['dog', 'cat', 'parrot']
for x in 리스트:
  print(x[0])

d
c
p

In [ ]:
리스트 = [1, 2, 3]
for x in 리스트:
  print("3 x", x)

3 x 1
3 x 2
3 x 3

In [ ]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :2]:
  print(변수)

#or
리스트 = ["가", "나", "다", "라"]
for x in 리스트:
   if x == "가" or x == "다" :
      print(x)

가
다

In [ ]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[::-1]:
  print(변수)

라
다
나
가

In [ ]:
리스트 = [3, -20, -3, 44]
for 변수 in 리스트:
  if 변수 < 0 :
    print(변수)

-20
-3

In [ ]:
리스트 = [3, 100, 23, 44]
for 변수 in 리스트:
  if 변수 % 3 == 0:
    print(변수)

3

In [ ]:
리스트 = [13, 21, 12, 14, 30, 18]
for 변수 in 리스트:
  if 변수 < 20 and 변수 % 3 == 0:
    print(변수)

12
18

In [ ]:
리스트 = ["I", "study", "python", "language", "!"]
for 변수 in 리스트:
  if len(변수) > 2:
    print(변수)

study
python
language

In [ ]:
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper() == True:
    print(변수)

#or
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper():
    print(변수)

A
D
A
D

In [ ]:
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper() == False:
    print(변수)

#or
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper() != True:
    print(변수)

#or
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if not 변수.isupper():
    print(변수)

b
c
b
c
b
c

In [ ]:
리스트 = ['dog', 'cat', 'parrot']
for 변수 in 리스트:
  print(변수[0].upper() + 변수[1:])

Dog
Cat
Parrot

In [ ]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for 변수 in 리스트:
   print(변수.split(".")[0])

hello
ex01
intro

In [ ]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
   if 변수.split(".")[1] == "h":
     print(변수)

intra.h
define.h

In [ ]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
   if 변수.split(".")[1] == "h" or 변수.split(".")[1] == "c" :
     print(변수)

intra.h
intra.c
define.h

In [ ]:
for i in range(0, 100):
  print(i, end='\n')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
for i in range(2002, 2051, 4):
  print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [ ]:
for i in range(3, 31, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
for i in range(99, -1, -1):
  print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
#or
for i in range(100):
    print(99 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
for num in range(10):
    print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
for x in range(1, 10):
  print ("3", "x", x, "=", x*3)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [ ]:
for x in range(1, 10):
  if x % 2 != 0:
    print("3", "x", x, "=", x*3)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [ ]:
#or
for x in range(1, 10, 2):
    print("3", "x", x, "=", x*3)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [ ]:
total = 0
for x in range(11):
  total += x
print(total)

55

In [ ]:
#or
total = 0
for x in range(11):
  total = total + x
print(total)

55

In [ ]:
total = 0
for x in range(1, 11, 2):
  total += x
print(total)

25

In [ ]:
total = 1
for x in range(1, 11):
  total *= x
print(total)

3628800

In [ ]:
price_list = [32100, 32150, 32000, 32500]
for i in price_list:
  print(i)

#or
for i in range(4):
    print(price_list[i])

32100
32150
32000
32500
32100
32150
32000
32500

In [ ]:
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500
0 32100
1 32150
2 32000
3 32500

In [ ]:
#or
for i, data in enumerate(price_list): #enumerate 함수
    print(i, data)

# enumerate 함수
data = enumerate((1, 2, 3))
print(data, type(data))

for i, f in data:
    print(i, ":", f)

dict1 = {'이름': '한사람', '나이': 33}
data = enumerate(dict1)
for i, key in data:
    print(key, dict1[key])
print()

0 32100
1 32150
2 32000
3 32500
<enumerate object at 0x7f9ed2c11320> <class 'enumerate'>
0 : 1
1 : 2
2 : 3
이름 한사람
나이 33

In [ ]:
price_list = [32100, 32150, 32000, 32500]
for i in range(1, 4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [ ]:
my_list = ["가", "나", "다", "라"]
for i in range(1, 4):